.fas {
  font-size: 16px;
  color: black;
}

.card-panel {
  margin: 0;
  padding: 0;
}

.cargo-data-table {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cargo-data-field {
  margin: 10px 30px 10px 30px;
  padding: 20px 20px 10px 20px;
}
.main-info {
  overflow:hidden;
}
.cargo-card {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 10px;
  font-size: 12px;
  float: left;
  height: 200px;
}

.cargo-card h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.cargo-card p {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.cargo-card .bold {
  font-weight: bold;
  font-size: 12px;
}

.table-card-header {
  font-size: 16px;
  font-weight: bold;
}
.cargo-card-stamp {
  display: block;
}

.cargo-card-stamp p{
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  font-size: 10px;
  vertical-align: bottom;
}





/* empty template*/
.empty-template h4{
  text-align: center;
  margin: 50px;
}
