.fa-shipping-fast {
  padding-left: 15px;
  color: white;
}

/* setting user account menu dropdown*/
.dropdown-content {
  width: 200px;
}
.dropdown-content a {
  width: 200px;
  color: black!important;
}


.background img {
  width: 100%;
  background-position: center;
}
