<div class="has-fixed-sidenav">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a routerLink="/" class="brand-logo">Cargo<i class="fas fa-shipping-fast"></i>Market</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- если страница совпадает с url то добавляется класс active-->
        <li routerLinkActive="active">
          <a routerLink="/login">My account</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/register">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <ul class="sidenav sidenav-fixed a-sidenav">
    <h4>Cargo Market</h4>

    <li
      class="bold"
      *ngFor="let link of links"
      routerLinkActive="active"
    >
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{link.name}}
      </a>
    </li>

    <li class="bold last">
      <a href="#" class="waves-effect waves-orange"
         (click)="logout($event)"
      >
        Выйти
      </a>
    </li>
  </ul>
</div>



<main class="content">
  <router-outlet></router-outlet>
</main>

