<section class="navbar">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Calculate</a></li>
        <li><a href="#">Notification</a></li>
        <!-- Dropdown Trigger -->
        <li>
          <a #dropdown class="dropdown-trigger" href="" data-target="dropdown1">
            {{userName}}
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/account/info" ><i class="fas fa-address-card"></i> Account info</a></li>
    <li><a routerLink="/account/settings"><i class="fas fa-users-cog"></i> Settings</a></li>
    <li class="divider"></li>
    <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
  </ul>


  <!-- Page Layout here -->
  <div>
      <router-outlet></router-outlet>
  </div>

</section>

<ul class="sidenav sidenav-fixed" #sidenav>
  <li class="sidenav-header">
    <a routerLink="/overview" class="brand-logo">Cargo<i class="fas fa-shipping-fast"></i>Market</a>
  </li>
  <li class="sidenav-item">
    <a routerLink="/account/main" class="waves-effect" href="#!"><i class="far fa-chart-bar"></i>Statistics</a>
  </li>
  <li class="sidenav-item">
    <a routerLink="/account/transport" class="waves-effect" href="#!"><i class="fas fa-truck-moving"></i>My transport</a>
  </li>
  <li class="sidenav-item">
    <a routerLink="/account/load" class="waves-effect" href="#!"><i class="fas fa-box-open"></i>My load</a>
  </li>
</ul>

