@media only screen and (min-width: 993px) {
  .navbar
  {
    padding-left: 300px;
  }
}


.fa-shipping-fast {
  color: white;
  margin: unset;
}

.dropdown-trigger i{
  font-size: 14px;
  color: white;
  padding-left: 5px;
}

/* setting user account menu dropdown*/
.dropdown-content {
  width: 200px;
}
.dropdown-content a {
  width: 200px;
  color: black!important;
}

/* sidenav */
.brand-logo{
  color:#fff;
  display: block;
  height: 64px;
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
}

.sidenav {
  background-color: #2d3035;
}


.sidenav-header {
  background-color: #222222;
  margin-bottom: 50px;
}

.sidenav a{
  color: white;
}

.sidenav-item {
  border-left: 3px solid transparent;
}
.sidenav-item i {
  color: white;
  font-size: 25px;
  margin-right: 15px;
}
.sidenav-item:hover {
  border-left: 3px solid #37b256;
  background-color: #222222;
}


/* user modal */
.modal-footer button {
  margin-left: 15px;
}
