<header>
  <div class="header-wrapper">
      <div class="header-navbar">
          <div class="container">
              <div class="row">
                  <div class="header-logo col s2">
                    <a routerLink="/">
                      Cargo<i class="fas fa-shipping-fast"></i>Market
                    </a>
                  </div>

                  <ul class="col s6">
                    <li>
                      <a href="">Service</a>
                    </li>
                    <li>
                      <a href="">About us</a>
                    </li>
                    <li>
                      <a href="">Contacts</a>
                    </li>
                    <li>
                      <a href="">Benefits</a>
                    </li>
                  </ul>
                  <ul class="col s4 push-l2">
                    <li routerLinkActive="active">
                      <div class="login-button">
                        <a *ngIf="userName; else login"
                           routerLink="/account"
                        ><i class="fas fa-user-circle"></i>
                          {{userName}}</a>
                      </div>
                    </li>
                    <li routerLinkActive="active">
                      <div class="logout-button">
                        <a *ngIf="userName;"
                           (click)="logout()"
                        ><i class="fas fa-sign-out-alt"></i>
                          Logout</a>
                      </div>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>

<main>
  <section>
    <div class="sub-menu">
      <div class="container">
        <div class="row">
          <div class="col l6">
            <ul class="center-align">
              <li class="waves-effect waves-green">
                <a routerLink="/transport">List of transport</a>
              </li>
              <li class="waves-effect waves-green">
                <a routerLink="/transport/new">Add a transport</a>
              </li>
            </ul>
          </div>
          <div class="col l6">
            <ul class="center-align">
              <li class="waves-effect waves-green">
                <a routerLink="/cargo">List of load</a>
              </li>
              <li class="waves-effect waves-green">
                <a routerLink="/cargo/new">Add a transport</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>


<footer>
  <div class="container">
    <div class="footer-menu-block">
      <div class="row">

        <div class="col s6">
          <ul class="footer-menu-list">
            <li class="name">About Us</li>
            <li><a href="">Who we are</a></li>
            <li><a href="">Contacts</a></li>
          </ul>
        </div>

        <div class="col s6">
          <ul class="footer-menu-list">
            <li class="name">For partners</li>
            <li><a href="">Ipsum dolor sit amet.</a></li>
            <li><a href="">Lorem ipsum dolor.</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-bottom-block">
      <div class="row">
        <div class="footer-line" ></div>
        <div class="footer-contacts">
          <div class="col s3">
            <i class="fas fa-phone-square"></i>
            <p class="contact">0870 7401503</p>
          </div>
          <div class="col s5">
            <i class="fas fa-map-marker-alt"></i>
            <p class="contact">19 Brandon St, London, SE17 1NA </p>
          </div>
          <div class="col s4">
            <i class="fas fa-envelope"></i>
            <p class="contact">cargomarket@carmar.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<ng-template #login>
  <a routerLink="/login">Login</a>
</ng-template>
