<div class="container transport">
  <div class="row">
    <div class="col l5" *ngIf="car$ | async as car">
      <div class="main-info-wrapper">
        <div class="main-info">
          <div class="transport-card">
            <h5 class="info-header">General information:</h5>
            <p class="bold">
              <i class="fas fa-calendar-alt"></i>
              Date:
            </p>
            <p>Loading day - <span class="bold">{{car.loadingDate | date: 'dd.MM.yyyy'}}</span>
            </p>
            <p>Discharge day - <span class="bold">{{car.dischargeDate | date: 'dd.MM.yyyy'}}</span>
            </p>
          </div>

          <div class="transport-card">
            <p class="bold">
              <i class="fas fa-map-marked-alt"></i> Location:
            </p>
            <p>Loading point:
              <span class="bold">{{car.loadingPoint}}</span>
            </p>
            <p>Discharge point:
              <span class="bold">{{car.dischargePoint}}</span>
            </p>
          </div>

          <div class="transport-card">
            <p class="bold">
              <i class="fas fa-truck-moving"></i> Transport:
            </p>
            <p>Transport type:
              <span class="bold">{{car.typeTransport}}</span>
            </p>
            <p>Amount of cars:
              <span class="bold">{{car.amountTransport}}</span>
            </p>
            <p>Load capacity(ton):
              <span class="bold">{{car.loadCapacity}}</span>
            </p>
          </div>

          <div class="transport-card">
            <p class="bold">
              <i class="fas fa-info-circle"></i> Company info:
            </p>
            <p>Company: <span class="bold">{{car.companyName}}</span></p>
            <p>Contact person: <span class="bold">{{car.contactPersonName}}</span></p>
            <p>Email: <span class="bold">{{car.contactEmail}}</span></p>
            <p>Skype: <span class="bold">{{car.contactSkype}}</span></p>
            <p>Telephone: <span class="bold">{{car.contactTelephone}}</span></p>
          </div>

          <div class="transport-card">
            <p>Posted at: {{car.timeStamp | date: 'dd.MM.yyyy HH:mm'}} </p>
            <p>By user: <span class="bold">{{car.userStamp}}</span></p>
            <p>User id: {{car.userId}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="transport-controls col l7">
      <h5 class="info-header">List of my cargo:</h5>
      <form>
        <table *ngIf="cargos$ | async as cargos; else empty">
          <tr>
            <th></th>
            <th>Date</th>
            <th>Location</th>
            <th>Info</th>
          </tr>

          <tr *ngFor="let c of cargos">
            <td style="width: 20px;">
              <label>
                <input type="radio" name="group1" (click)="onSelectCargo(c)" class="with-gap" />
                <span></span>
              </label>
            </td>
            <td>{{c.startLoadingDate  | date: 'dd/MM/yyyy'}} - <br>
              {{c.endLoadingDate  | date: 'dd/MM/yyyy'}}</td>
            <td>{{c.loadingPoint}} - {{c.dischargePoint}}</td>
            <td>Weight: {{c.cargoWeight}} ton <br>
              Volume: {{c.cargoVolume}} m^3 <br>
              Type: {{c.typeCargo}}</td>


          </tr>
        </table>
        <ng-template #empty>
          <p>You don't have any cargo yet.</p>
        </ng-template>
      </form>

      <button
        [disabled]="!selectedCargo"
        class="waves-effect waves-light btn open-filter"
        style="margin-top: 15px;" (click)="onOfferCargo()">Make an offer</button>
    </div>

  </div>
</div>

