p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.transport {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-info-wrapper {
  background-image: url(../../../assets/hanseatic-freight-contor_land-detail-91f7bf47.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -10;
}

.main-info {
  background-color: rgba(255, 255, 255, 0.80);
  height: 100%;
}

.transport-controls {
  padding-left: 30px;
}

.info-header {
  padding: 10px;
  text-align: center;
}

.transport-card {
  border: 1px solid #eaeaea;
  border-bottom: none;
  padding: 10px 10px 10px 15px;
}
.transport-card:last-child {
  border-bottom: 1px solid #eaeaea;
}

/*.transport-card:hover {*/
/*  border-left: 1px solid #37b256;*/
/*  background: #f1f1f1;*/
/*}*/

.transport-card p {
  padding-bottom: 3px;
}
