doctype html
html
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1', name='viewport')
        meta(name='x-apple-disable-message-reformatting')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='telephone=no', name='format-detection')
        meta(property='og:title' content='findervest')
        meta(property='og:type' content='website')
        meta(property='og:description' content='where Startups meet Investors.')
        meta(property='og:image' content='https://freight.cargo.site/i/5b88a23d456dbdd67e8a57a21bab0102f16370e35181d2a58ee4595702b84c71/findervest_Bildmarke_tuerkis_RGB.jpg')
        link(rel="shortcut icon", href="/images/logo.ico", type="image/x-icon")
        title Get Findervest
        script.
          document.addEventListener("DOMContentLoaded", function() {
            //
            if (navigator.userAgent.toLowerCase().indexOf("android") > -1) {
              // window.location.href = 'https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.findervest.android';
            }
            else if (navigator.userAgent.toLowerCase().indexOf("iphone") > -1) {
              // window.location.href = 'https://itunes.apple.com/us/app/findervest/id1470057788';
            }
            else {
              // window.location.href = "https://findervest.com";
              console.log('desktop')
            }
          });
    body
        h1 Findervest profile overview!