.open-filter {
  margin-top: 20px;
}
.open-filter i {
  color: white;
}

.fas {
  font-size: 16px;
  color: black;
}

.card-panel {
  margin: 0;
  padding: 0;
}
.transport-data-wrapper {
  margin: 15px 20px 15px 20px;
}
.transport-data-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.transport-data-field {
  margin: 10px 10px 10px 10px;
  padding: 15px 15px 10px 15px;
}
.main-info {
  overflow:hidden;
  width: 600px;
}
.transport-card {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 10px;
  font-size: 12px;
  float: left;
  height: 150px;
  width: 150px;
}

.transport-card:first-child {
  width: 100px;
}
.transport-card:last-child {
  width: 200px;
}


.transport-card h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.transport-card p {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.transport-card .bold {
  font-weight: bold;
  font-size: 12px;
}

.table-card-header {
  font-size: 16px;
  font-weight: bold;
}

/* stamp under each card*/
.transport-controls {
  font-size: 10px;
  margin-top: 5px;
}
.controls {
  display: inline-block;
  float: left;
}
.open-card {
  background-color: #26a69a;
  border-radius: 2px;
  color: #ffffff;
  padding: 3px 5px 3px 5px;
  margin-top: 5px;
}

.transport-card-stamp {
  display: inline-block;
  float: right;
}
.transport-card-stamp p {
  margin: 0;
  padding: 0 5px;
  font-size: 10px;
}

/*.transport-card-stamp {*/
/*  display: block;*/
/*}*/

/*.transport-card-stamp p{*/
/*  display: inline-block;*/
/*  margin: 0;*/
/*  padding: 0 5px;*/
/*  font-size: 10px;*/
/*  vertical-align: bottom;*/
/*}*/





/* empty template*/
.empty-template h4{
  text-align: center;
  margin: 50px;
}
