<div class="container">
  <button class="btn-flat" (click)="openFilter()"> {{ !filterBlock? 'Open filter': 'Hide filter' }}</button>
  <app-cargo-filter
    *ngIf="filterBlock"
    (onFilter)="applyFilter($event)"
    (onCancel)="fetch()"
  ></app-cargo-filter>
</div>

<div class="cargo-data-wrapper" *ngIf="cargos$ | async as cargos; else loader">

  <div class="cargo-data-table" *ngIf="cargos.length !==0; else empty">

    <div class="cargo-data-field card-panel hoverable" *ngFor="let c of cargos">

      <div class="main-info">
        <div class="cargo-card">
          <h6>
            <i class="fas fa-calendar-alt"></i>
            Date
          </h6>
          <p>Start loading: <br>
            <span class="bold">{{c.startLoadingDate | date: 'dd/MM/yyyy'}}</span>
          </p>
          <p>End loading: <br>
            <span class="bold">{{c.endLoadingDate | date: 'dd/MM/yyyy'}}</span>
          </p>
        </div>

        <div class="cargo-card">
          <h6>
            <i class="fas fa-map-marked-alt"></i> Location:
          </h6>
          <p>Loading point: <br>
            <span class="bold">{{c.loadingPoint}}</span>
          </p>
          <p>Discharge point: <br>
            <span class="bold">{{c.dischargePoint}}</span>
          </p>
        </div>

        <div class="cargo-card">
          <h6>
            <i class="fas fa-cubes"></i> Cargo type:
          </h6>
          <p>
            Cargo type: <span class="bold">{{c.typeCargo}}</span>
          </p>
          <p>
            Cargo weight: <span class="bold">{{c.cargoWeight}} ton</span>
          </p>
          <p>
            Cargo volume: <span class="bold">{{c.cargoVolume}} m^3</span>
          </p>
          <p>
            Transport: <span class="bold">{{c.typeTransport}}</span>
          </p>
          <p>Amount of transport: <span class="bold">{{c.amountTransport}}</span>
          </p>
        </div>

        <div class="cargo-card">
          <h6>
            <i class="fas fa-info-circle"></i> Company info:
          </h6>
          <p>Company: <span class="bold">{{c.companyName}}</span></p>
          <p>Contact person: <span class="bold">{{c.contactPersonName}}</span></p>
          <p>Email: <span class="bold">{{c.contactEmail}}</span></p>
          <p>Skype: <span class="bold">{{c.contactSkype}}</span></p>
          <p>Telephone: <span class="bold">{{c.contactTelephone}}</span></p>
        </div>
      </div>

      <div class="cargo-card-stamp">
        <p>Posted at: {{c.timeStamp | date: 'dd/MM/yyyy HH:mm'}} </p>
        <p> / by <span class="bold">{{c.userStamp}}</span></p>
        <p> User id: {{c.userId}}</p>

      </div>
      <div class="offerTransport">
        <span><a (click)="makeOffer()">Предложить транспорт</a></span>
        <ul *ngIf="showOffer">
          <li *ngFor="let car of myCar">
            {{car._id}}
          </li>
        </ul>
      </div>

    </div>

  </div>

  <ng-template #empty>
    <div class="empty-template">
      <h4>We don't have any cargo yet.</h4>
    </div>
  </ng-template>
</div>



<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
