.open-filter {
  margin-top: 20px;
}
.open-filter i {
  color: white;
}

.fas {
  font-size: 16px;
  color: black;
}

.card-panel {
  margin: 0;
  padding: 0;
}
.cargo-data-wrapper {
  margin: 15px 55px 15px 55px;
}

.cargo-data-table {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cargo-data-field {
  margin: 10px 10px 10px 10px;
  padding: 15px 15px 10px 15px;
}
.main-info {
  overflow:hidden;
  width: 600px;
}
.cargo-card {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 10px;
  font-size: 12px;
  float: left;
  height: 160px;
  width: 150px;
}

.cargo-card:first-child {
  width: 100px;
}
.cargo-card:last-child {
  width: 200px;
}

.cargo-card h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.cargo-card p {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.cargo-card .bold {
  font-weight: bold;
  font-size: 12px;
}

.table-card-header {
  font-size: 16px;
  font-weight: bold;
}

/* stamp under each card*/
.cargo-controls {
  font-size: 10px;
  margin-top: 5px;
}
.controls {
  display: inline-block;
  float: left;
}
.open-card {
  background-color: #26a69a;
  border-radius: 2px;
  color: #ffffff;
  padding: 3px 5px 3px 5px;
  margin-top: 5px;
}

.cargo-card-stamp {
  display: inline-block;
  float: right;
}
.cargo-card-stamp p {
  margin: 0;
  padding: 0 5px;
  font-size: 10px;
}





/* empty template*/
.empty-template h4{
  text-align: center;
  margin: 50px;
}
